---
layout: page
title: "About"
description: "About this blog and related links."
header-style: minimal
sidebar: false
body-class: about-hub
---

<section class="about-block">
    <h2>About Me</h2>
    {% if site.sidebar-avatar %}
    <img class="about-avatar" src="{{ site.sidebar-avatar }}" alt="Avatar" />
    {% endif %}
    <p>{{ site.sidebar-about-description }}</p>
    <p>This site focuses on chemistry, coding, and technical notes.</p>
</section>

<section class="about-block">
    <h2>Contact</h2>
    <ul class="about-links">
        {% if site.email %}
        <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {% endif %}
        {% if site.github_username %}
        <li>GitHub: <a target="_blank" href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></li>
        {% endif %}
        {% if site.zhihu_username %}
        <li>Zhihu: <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">{{ site.zhihu_username }}</a></li>
        {% endif %}
    </ul>
</section>

{% if site.friends %}
<section class="about-block">
    <h2>Related Links</h2>
    <ul class="about-links">
        {% for friend in site.friends %}
        <li><a target="_blank" href="{{ friend.href }}">{{ friend.title }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endif %}

{% if site.featured-tags %}
<section class="about-block">
    <h2>Popular Tags</h2>
    <div class="home-tag-list">
        {% for tag in site.tags %}
            {% if tag[1].size > site.featured-condition-size %}
            <a class="home-tag" href="{{ site.baseurl }}/tags/#{{ tag[0] | slugify }}"># {{ tag[0] }}</a>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endif %}


